<?xml version="1.0"?>

<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

    <node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode" output="screen">
        <param name="serial_port" type="string" value="/dev/RPLIDAR"/>
    </node>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan_to_scan_filter_chain" output="screen">
        <rosparam command="load" file="$(find follow_me)/config/laser_filters.yaml" />
    </node>

	<node pkg="follow_me" type="follow_me" name="follow_me_node" output="screen">
	    <param name="status" value="true"/>
        <remap from="/scan" to="/scan_filtered" />
        <remap from="/cmd_vel" to="/mobile_base/commands/velocity" />
	</node>
</launch>
